<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config/etc/system_file.xsd">
    <system>
        <section id="invoice" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Stripe Invoice</label>
            <tab>general</tab>
            <resource>Aashni_Invoice::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Stripe Invoice automation</label>
                 <field id="enable" translate="enable" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable invoice creation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select 'Yes' to enable the module.</comment>
                </field>
                <field id="secret_key" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secret Key</label>
                </field>

                <field id="due_days" translate="label"  type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Due days</label>
                   </field>
                <field id="user_id_list" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>User Id List</label>
                  </field>

                <field id="finalize_invoice" translate="finalize_invoice" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Finalize Invoice</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select 'Yes' to enable the feature.</comment>
                </field>
                <field id="send_invoice" translate="send_invoice" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Invoice</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select 'Yes' to enable the feature.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
