 <div style=" margin:50px auto; width:800px; border:1px #ccc solid;">
        <table border="0" cellpadding="0" cellspacing="0" style="width:800px;">
            <tr>
                <td style="text-align:center; padding:30px 0px;" align="center" valign="top">
                    <img src="{{media url="wysiwyg/logo_12_4_21.png"}}" alt="" />
                </td>
            </tr>
            <tr>
                <td align="left" valign="top">
                    <img style="width: 100%;" src="{{media url="email/new-account-banner.png"}}" alt="" />
                </td>
            </tr>
            <tr>
                <td align="left" valign="top">
                    <div style=" padding:15px; font-family:Arial, Helvetica, sans-serif;">
                        <p style="margin:0px; padding:0px 0px 15px 0px ; font-size:14px;">   Dear {{trans "%nameCustomer," nameCustomer=$nameCustomer}} </p>

                        <p style="font-size:14px; margin:0px; padding:0px 0px 10px 0px ;">
                            We are delighted that you have chosen to create an account with us and we look forward to sharing a great relationship with you as you enjoy the Aashni + Co shopping experience. We pride ourselves in providing our customers with a personal, efficient and incomparable service and we will work with you until you are completely satisfied with the end product (we really do mean that!) Our team will always be on hand for fashion advice, style tips and any other queries you may have and to keep you abreast of new collections and customer exclusives.
                        </p>
                        <p style="font-size:14px;">
                            We always love to hear your feedback too, so please feel free to write to us. As a valued member of the Aashni+ Co global network, we look forward to getting to know you.
                        </p>
                        <p style="font-size:14px;">
                            Sincerely,<br><br>
                            Aashni Shah<br>
                            Founder and Creative Director<br>
                            Aashni + Co
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="left" valign="top">
                    <div style=" margin:0px 15px 15px 15px ; font-family:Arial, Helvetica, sans-serif;">
                        <div class="raleway"   style="width:100%; padding-top:20px; float:left;">

                            <div style="border:1px #ccc solid; padding:20px 10px ;">
                                <h1 class="prata" style="margin:0px; font-size:16px; padding:0px;">
                                    YOUR LOGIN DETAILS
                                </h1>
                                <p style="font-size:14px;">  YOUR EMAIL ADDRESS IS: 
                                    <a style="margin:0px 10% 0px 0px ;" href="#?"> {{trans "%email" email=$email}}</a>

                                    <span style="margin-left:5%;">  <a style="background:#000; text-decoration:none; width:100px; color:#FFF; padding:5px 10px;" href='{{trans "%urlGet" urlGet=$urlGet}}' target="_blank"> Set Password</a> </span>
                                    <p>Create Your Password By Clicking on the Button</p>
                                </p>

                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="left" valign="top">
                    <div style=" border-bottom:1px #000 solid; margin:15px; font-family:Arial, Helvetica, sans-serif;">
                        <h1 style="font-size:16px; margin:0px 0px 10px 0px ; padding:0px;">  YOUR PRIVACY IS OUR POLICY </h1>
                        <p style="font-size:14px; margin:0px; padding:0px 0px 10px 0px ;">
                            Aashni + Co will always respect your privacy and under no circumstances will we ever share, sell or misuse your personal information.
                        </p>

                    </div>
                </td>
            </tr>
            <tr>
                <td align="left" valign="top">
                    <div style=" border-bottom:1px #000 solid; margin:15px; font-family:Arial, Helvetica, sans-serif;">
                        <h1 style="font-size:16px; margin:0px 0px 10px 0px ; padding:0px;">    BEAUTIFUL SHOPPING, MADE EASY </h1>
                        <p style="font-size:14px;">
                            Have a look at the list below, it's a quick reminder of the things you can do, now you're a member of Aashni + Co.
                        </p>
                        <ul style="margin:0px; padding:0px 0px 25px 0px ; font-size:12px; list-style:none;">
                            <li style="margin:0px; padding:4px 0px; list-style:none;">Faster and easier checkout</li>
                            <li style="margin:0px; padding:4px 0px; list-style:none;">Securely save your credit card details</li>
                            <li style="margin:0px; padding:4px 0px; list-style:none;">Track the status of your orders</li>
                            <li style="margin:0px; padding:4px 0px; list-style:none;">View your previous orders</li>
                            <li style="margin:0px; padding:4px 0px; list-style:none;">Receive email notifications for out of stock items, when they are back in stock</li>

                        </ul>

                    </div>
                </td>
            </tr>
            <tr>
                <td align="left" valign="top">
                    <div style=" margin:15px; font-family:Arial, Helvetica, sans-serif;">
                        <h1 style="font-size:16px; margin:0px 0px 10px 0px ; padding:0px;">CAN WE HELP?
                        </h1>

                        <p style="font-size:14px; margin:0px; padding:0px 0px 10px 0px ;">
                            If you have any questions, we are here to help! Please use the contact information below if you want to speak to us about anything.
                        </p>
                    </div>
                </td>
            </tr>
        </table>
        <style type="text/css">
            @import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
        </style>
        <div style=" margin:0px 10px 20px 10px; border-top:1px #ccc solid; padding-top: 30px;">
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                <tr>
                    <td align="left" valign="top">
                        <div style="border:1px #ccc solid; padding:10px 10px; ">
                   <table style="font-size:12px;" width="100%" border="0" cellspacing="0" cellpadding="10">
                      <tbody><tr>
                        <td width="27%" align="left" valign="middle" style="border-bottom:1px #ccc solid;"> <strong> EMAIL US</strong>  </td> 
                        <td width="73%" align="left" valign="middle" style="border-bottom:1px #ccc solid;"> customercare@aashniandco.com </td> 
                      </tr>
                      
                      <tr>
                        <td style="border-bottom:1px #ccc solid;" align="left" valign="middle"> <strong>TELEPHONE US  </strong> </td> 
                        <td style="border-bottom:1px #ccc solid;" align="left" valign="middle"> +91-8375036648  </td> 
                      </tr>
                      
                      <tr>
                        <td style="border-bottom:1px #ccc solid;" align="left" valign="middle"> <strong>ARE WE UP?</strong>   </td> 
                        <td style="border-bottom:1px #ccc solid;" align="left" valign="middle"> 
                        Please be aware, we are in India so may be in a different time zone to you. Our Customer care hours are Monday to Friday 10:00am to 6:30pm and Saturdays 10:00am to 3:00pm IST
                        </td> 
                      </tr>
                      
                    </tbody></table>

                
              </div>
                    </td>
                </tr>
                
                
            </table>
        </div>
    </div>