@import '_base';

body{
	margin: 0;
    padding: 0;
    font-family: "Roboto", arial, tahoma;
    font-size: 16px;
    float: left;
    width: 100%;
}
*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

*:focus{
	outline: none;
}

a {
    text-decoration: none
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
    margin: 0;
    padding: 0;
}


.banner-block{
	width: 100%;
	float:left;
	position: relative;

	.home-previous{			
		width: 32px;
	    height: 35px;
	    display: flex;
	    justify-content: center;
	    background-color: #000;
	    position: absolute;
	    left: 0;
	    top: 45%;
	    z-index: 1;

		@media (max-width: 834px){
			display: none !important;
		}

		img{
			width: 32%;
		}
	}
	.home-next{
		width: 32px;
		height: 35px;
		display: flex;
		justify-content: center;
		background-color: #000;
		position: absolute;
		right: 0;
		top: 45%;
		z-index: 1;

		@media (max-width: 834px){
			display: none !important;
		}

		img{
			width: 32%;
		}
	}

	.banner-slider{
		width: 100%;
		float: left;

		.banner-blog{
			float: left;
			width: 100%;

			img{
				float: left;
				width: 100%;
			}
		}

		&.slick-slider.slick-dotted{
			margin-bottom: 30px;
		}
		.slick-dots li{
			@media (max-width: 834px){
				width: 12px;
				height: 12px;
			}
		}

		.slick-dots li button{
			border: solid 1px #fff;
			border-radius: 50px;
			width: 12px;
			height: 12px;

			@media (max-width: 834px){
				width: 6px;
				height: 6px;
				padding: 0;
			}

			&::before{
				display: none;
			}
		}
		.slick-dots li.slick-active button{
			background-color: #fff;
		}
		
		.slick-next:before, .slick-prev:before{
			display: none;
		}
		
	}
}

.discovery-newly-block{
	width: 100%;
	float: left;
    margin-bottom: 30px;	

	img{
		width: 100%;
	}
}

.new-in-block{
	width: 100%;
	float: left;
    margin-bottom: 30px;	

	.newin-patch{
		width: 217px;
		float: left;

		@media(max-width: 480px){
			width: 48%;
			float: left;
			margin-right: 10px;
		}

		img{
			width: 100%;
		}
	}

	.newin-img-plot{
		float: right;
	    width: calc(100% - (((100% - 912px) / 2) + 0%));
	    padding-left: 0px;
	    overflow: hidden;
	    position: relative;

	    @media(max-width: 480px){
			width: 47%;
			float: left;
			padding: 0px 0;
		}

	    .newin-slider{
	    	width: 100%;
	    	float: left;

	    	.slick-slide{
	    		margin-right: 12px;

	    		@media(max-width: 480px){
	    			margin-right: 0;
	    		}
	    	}

	    	.owl-item{
	    		float: left;
			    /*width: 100%;*/
			    width: calc((100% - 20px) / 4);

			    img{
			    	width: 100%;
			    }
	    	}
	    }
    	
		.newin-previous{			
			width: 32px;
		    height: 35px;
		    display: flex;
		    justify-content: center;
		    background-color: #000;
		    position: absolute;
		    left: 0;
		    top: 45%;
		    z-index: 1;

			@media (max-width: 834px){
				display: none !important;
			}

			img{
				width: 32%;
			}
		}
		.newin-next{
			width: 32px;
		    height: 35px;
		    display: flex;
		    justify-content: center;
		    background-color: #000;
		    position: absolute;
		    right: 0;
		    top: 45%;
		    z-index: 1;

			@media (max-width: 834px){
				display: none !important;
			}

			img{
				width: 32%;
			}
		}
		.slick-next:before, .slick-prev:before{
			display: none;
		}
	    
	}
}

.occassion-dress{
	width: 100%;
	float: left;
	margin-bottom: 35px;

	.occasion-img{
		width: calc((100% - 40px) / 3);
		float: left;
		margin-right: 20px;

		@media(max-width: 480px){
			width: 100%;
			float: left;
		}

		&:last-child{
			margin-right:0;
		}

		img{
			width: 100%;
		}
	}
}

.content-heading{
	width: 100%;
	float: left;
	/*padding: 10px;*/
    margin-bottom: 35px;
	position: relative;
	display: flex;
    justify-content: center;
    align-items: center;

	&:after{
		content: "";
	    display: inline-block;
	    width: 100%;
	    height: 1px;
	    background-color: #2a2a2a;
	    position: absolute;
	    bottom: 22px;
	    z-index: -1;
	    left: 0;
	}

	.title{
		width: 196px;
		float: left;
		padding: 5px;
		/*display: flex;*/

		&.shop-style{
			width: 240px;
			padding: 4px;
		}
		&.earth{
			width: 361px;
			padding: 4px;
		}

		img{
			width: 100%;
		}

	}
}

.a-co-edits{
	width: 100%;
	float: left;
    margin-bottom: 30px;

	.co-edit-block{
		float: right;
	    width: 100%;
	    padding-left: 0px;
	    overflow: hidden;
	    position: relative;

	    .a-coedit-slider{
	    	width: 100%;
	    	float: left;

	    	.slick-slide{
	    		margin-right: 12px;

	    		&:last-child{
	    			margin-right: 0;
	    		}
	    	}

	    	.a-co-item{
	    		float: left;
			    /*width: 100%;*/
			    width: calc((100% - 20px) / 6);

			    img{
			    	width: 100%;
			    }
	    	}
	    }
    	
		.co-edi-previous{			
			width: 32px;
		    height: 35px;
		    display: flex;
		    justify-content: center;
		    background-color: #000;
		    position: absolute;
		    left: 0;
		    top: 45%;
		    z-index: 1;

			@media (max-width: 834px){
				display: none !important;
			}

			img{
				width: 32%;
			}
		}
		.co-edi-next{
			width: 32px;
			height: 35px;
			display: flex;
			justify-content: center;
			background-color: #000;
			position: absolute;
			right: 0;
			top: 45%;
			z-index: 1;

			@media (max-width: 834px){
				display: none !important;
			}

			img{
				width: 32%;
			}
		}
		.slick-next:before, .slick-prev:before{
			display: none;
		}
	    
	}
}

.shop-by-style-block{
	width: 100%;
	float: left;

	.style-plot{
		width: 100%;
		float: left;

		.style-item{
			width: calc((100% - 30px) / 3);
			float: left;
			margin-right: 15px;
			margin-bottom: 15px;

			&:nth-child(3n+3){
				margin-right: 0;
			}

			@media(max-width: 480px){
				width: 100%;
				float: left;
			}

			img{
				width: 100%;
			}
		}
	}
}

.bride-styling{
	width: 100%;
	float: left;

	.bride-plot{
		width: 100%;
		float: left;

		.wed-item{
			width: calc(100% - 455px);
			float: left;
			margin-right: 15px;
			margin-bottom: 15px;

			@media(max-width: 480px){
				width: 100%;
				float: left;
			}

			&.wed-items{
				width: 439px;
				float: left;
				margin-right: 0;

				@media(max-width: 480px){
					width: 100%;
					float: left;
				}
			}

			/*&:last-child{
				margin-right: 0;
			}*/

			img{
				width: 100%;
			}
		}
	}
}

.accessory-edits{
	width: 100%;
	float: left;
    margin-bottom: 30px;

	.accessory-block{
		float: right;
	    width: 100%;
	    padding-left: 0px;
	    overflow: hidden;
	    position: relative;

	    .access-previous{			
			width: 32px;
		    height: 35px;
		    display: flex;
		    justify-content: center;
		    background-color: #000;
		    position: absolute;
		    left: 0;
		    top: 45%;
		    z-index: 1;

			@media (max-width: 834px){
				display: none !important;
			}

			img{
				width: 32%;
			}
		}
		.access-next{
			width: 32px;
			height: 35px;
			display: flex;
			justify-content: center;
			background-color: #000;
			position: absolute;
			right: 0;
			top: 45%;
			z-index: 1;

			@media (max-width: 834px){
				display: none !important;
			}

			img{
				width: 32%;
			}
		}

	    .access-slider{
	    	width: 100%;
	    	float: left;

	    	.slick-slide{
	    		margin-right: 15px;

	    		&:last-child{
	    			margin-right: 0;
	    		}
	    	}

	    	.access-item{
	    		float: left;
			    /*width: 100%;*/
			    width: calc((100% - 20px) / 6);			    	    

			    img{
			    	width: 100%;
			    }
	    	}
	    }
    	
		.access-previous{
			width: 32px;
		    height: 35px;
		    display: flex;
		    justify-content: center;
		    background-color: #000;
		    position: absolute;
		    left: 0;
		    top: 45%;
		    z-index: 1;

			@media (max-width: 834px){
				display: none !important;
			}

			img{
				width: 32%;
			}
		}
		.access-next{
			width: 32px;
		    height: 35px;
		    display: flex;
		    justify-content: center;
		    background-color: #000;
		    position: absolute;
		    right: 0;
		    top: 45%;
		    z-index: 1;

			@media (max-width: 834px){
				display: none !important;
			}

			img{
				width: 32%;
			}
		}
		.slick-next:before, .slick-prev:before{
			display: none;
		}
	    
	}
}

.styling-block{
	width: 100%;
	float: left;
	margin-bottom: 10px;

	.styling-plot{
		width: 100%;
		float: left;

		.style-item{
			width: calc(100% - 570px);
			float: left;
			margin-right: 15px;
			margin-bottom: 15px;

			@media(max-width: 480px){
				width: 100%;
				float: left;
			}

			&.style-items{
				width: 554px;
				float: left;
				margin-right: 0;

				@media(max-width: 480px){
					width: 100%;
					float: left;
				}
			}

			/*&:last-child{
				margin-right: 0;
			}*/

			img{
				width: 100%;
			}
		}
	}
}

.earth-friendly-curate{
	width: 100%;
	float: left;
	margin-bottom: 10px;

	.earth-curate{
		width: 100%;
		float: left;

		.earth-item{
			width: 325px;
			float: left;
			margin-right: 15px;
			margin-bottom: 15px;

			@media(max-width: 480px){
				width: 100%;
				float: left;
			}

			&.friendly-items{
				width: 668px;
				float: left;
				margin-right: 15px;

				@media(max-width: 480px){
					width: 100%;
					float: left;
				}
			}

			&:last-child{
				margin-right: 0;
			}

			img{
				width: 100%;
			}
		}
	}
}

.best-seller-block{
	width: 100%;
	float: left;
    margin-bottom: 30px;	

	.bestseller-patch{
		width: 200px;
		float: left;

		@media(max-width: 480px){
			width: 48%;
			float: left;
			margin-right: 10px;
		}

		img{
			width: 100%;
		}
	}

	.bestseller-img-plot{
		float: right;
	    width: calc(100% - (((100% - 948px) / 2) + 0%));
	    padding-left: 0px;
	    padding: 15px 0;
	    overflow: hidden;
	    position: relative;

	    @media(max-width: 480px){
			width: 47%;
			float: left;
			padding: 0px 0;
		}

	    .bestseller-slider{
	    	width: 100%;
	    	float: left;

	    	.slick-slide{
	    		margin-right: 15px;

	    		@media(max-width: 480px){
	    			margin-right: 0px;
	    		}
	    	}

	    	.best-sel-item{
	    		float: left;
			    /*width: 100%;*/
			    width: calc((100% - 20px) / 4);

			    img{
			    	width: 100%;
			    }
	    	}
	    }
    	
		.bestseller-previous{			
			width: 32px;
		    height: 35px;
		    display: flex;
		    justify-content: center;
		    background-color: #000;
		    position: absolute;
		    left: 0;
		    top: 45%;
		    z-index: 1;

			@media (max-width: 834px){
				display: none !important;
			}

			img{
				width: 32%;
			}
		}
		.bestseller-next{
			width: 32px;
		    height: 35px;
		    display: flex;
		    justify-content: center;
		    background-color: #000;
		    position: absolute;
		    right: 0;
		    top: 45%;
		    z-index: 1;

			@media (max-width: 834px){
				display: none !important;
			}

			img{
				width: 32%;
			}
		}
		.slick-next:before, .slick-prev:before{
			display: none;
		}
	    
	}
}

.design-wear-block{
	width: 100%;
	float: left;

	.kidswear-revolution{
		width: calc(100% - 560px);
		float: left;
		margin-right: 9px;

		@media(max-width: 480px){
			width: 100%;
			float: left;
		}

		.kids-wear{
			width: 100%;
			float: left;

			img{
				width: 100%
			}
		}
	}
	.categories-plot{
		width: 551px;
		float: left;

		@media(max-width: 480px){
			width: 100%;
			float: left;
		}

		.category-pod{
			width: calc((100% - 10px) / 2);
			float: left;
			margin-right: 5px;

			&:nth-child(2n+2){
				margin-right: 0;
			}

			img{
				width: 100%;
			}
		}
	}
}

.footer{
	width: 100%;
	float: left;
	background-color: #262626;
	margin-top: 40px;

	.footer-container{
		width: 100%;
		float: left;
		padding-left: calc((100% - 1200px)/ 2);
		padding-right: calc((100% - 1200px)/ 2);

		.middle-footer{
			width: 100%;
			float: left;
			padding-bottom: 25px;
	    	padding-top: 40px;

	    	.top-footer{
	    		width: 100%;
	    		float: left;

	    		.menu-pod{
	    			width: calc(100% / 4);
	    			float: left;
	    			font-size: 14px;
	    			font-weight: 500;
	    			padding: 10px;

	    			@media(max-width: 480px){
						width: 100%;
						float: left;
						margin-bottom: 20px;
					}

	    			.title{
						float: left;
						width: 100%;
						color: #ffffff;
						text-transform: uppercase;
		    			font-size: 18px;
		    			font-weight: 400;
						line-height: 17px;
						letter-spacing: .16px;
						margin-bottom: 10px;
	    			}

	    			.link-footer{
	    				list-style-type: none;
	    				margin: 0;
	    				padding: 0;

	    				li{
							list-style: none;
							display: block;

							a{
								float: left;
								width: 100%;
								color: #fff;
				    			font-size: 14px;
				    			font-weight: 500;
								line-height: 22px;
								letter-spacing: .16px;
							}
	    				}
	    			}

	    			.newsletter{
	    				width:100%;
	    				float: left;

	    				.content{
	    					.form{
		    					.form-group {
								    margin-bottom: 15px;

								    .control{
								    	input{
											border: none;
											height: 40px;
											font-size: 14px;
											color: #9b9b9b;
											line-height: 1.42857;
											padding: 0 10px;
											vertical-align: baseline;
											width: 100%;
										}
								    }
								}

								.actions{
									width: 100%;
									float: left;

									.action{
										height: 40px;
										background-color: #000;
										color: #fff;
										padding: 0 23px;
										min-width: 107px;
										text-align: center;
										cursor: pointer;
									}
								}
							}
	    				}
	    			}
	    		}
	    	}	    	
		}
	}

	.copy-right-plot{
		width: 100%;
		float: left;
		background-color: #262626;
		padding-bottom: 18px;
		padding-top: 20px;
		color: #525252;
		border-top: 1px solid #333;
		display: flex;

		.left-foot{
			width: 100%;
		    display: flex;
		    flex-wrap: nowrap;
		    flex-direction: column;


			.copy-right{
				width: 100%;
				float: left;
				color: #ffffff;
    			font-size: 14px;
    			font-weight: 400;
				line-height: 17px;
				letter-spacing: .16px;
				margin-bottom: 10px;
				padding-left: 17px;
			}
		}
		.right-foot{
			width: auto;
			display: flex;
		    flex-wrap: nowrap;
		    justify-content: flex-end;

			.foot-icon{
				display: flex;

				ul{
					margin: 0;
					padding: 0;
					list-style-type: none;
					display: flex;

					li{
						img{
							width: 25px;
							height: 25px;
						}
					}
				}
			}
		}
	}
}

