<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="general" translate="label" sortOrder="300">
            <label>general</label>
        </tab>
        <section id="general" translate="label" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
        <group id="data_dump_report" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Send product dump Email</label>
                 <field id="email_list" translate="label comment" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>List of Email id</label>
                    <comment>Please enter comma seprated list of email id. </comment>
                </field>
            </group>
	    </section>        
    </system>
</config>
