<?xml version="1.0"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mageworx_giftcards>
            <main>
                <expand_gift_card_block>0</expand_gift_card_block>
                <apply_to>shipping,tax</apply_to>
                <orderstatus>complete</orderstatus>
                <disable_multishipping>1</disable_multishipping>
                <expiration_alert>5</expiration_alert>
            </main>
            <email>
                <orderstatus>complete</orderstatus>
                <email_template>mageworx_giftcards_email_email_template</email_template>
                <print_template>mageworx_giftcards_email_print_template</print_template>
                <offline_template>mageworx_giftcards_email_offline_template</offline_template>
                <expired_template>mageworx_giftcards_email_expired_template</expired_template>
                <expiration_alert_template>mageworx_giftcards_email_expiration_alert_template</expiration_alert_template>
            </email>
            <product>
                <amount_display_mode>0</amount_display_mode>
                <amount_placeholder>Enter amount</amount_placeholder>
                <from_name_placeholder>Enter your name</from_name_placeholder>
                <to_name_placeholder>Enter name</to_name_placeholder>
                <to_email_placeholder>Enter email</to_email_placeholder>
                <message_placeholder>Enter your message</message_placeholder>
            </product>
        </mageworx_giftcards>
    </default>
</config>