<?xml version="1.0"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Multishipping\Helper\Data">
        <plugin
            name="MageWorx_GiftCards::ChangeMultishippingCheckoutAvailability"
            type="MageWorx\GiftCards\Plugin\ChangeMultishippingCheckoutAvailability"
            sortOrder="1"
            disabled="false"
        />
    </type>
    <type name="Magento\Catalog\Helper\Product\ConfigurationPool">
        <arguments>
            <argument name="instancesByType" xsi:type="array">
                <item name="mageworx_giftcards" xsi:type="object">MageWorx\GiftCards\Helper\Catalog\Product\Configuration</item>
            </argument>
        </arguments>
    </type>
</config>