<?xml version="1.0"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_multishipping">
        <observer name="mageworx_giftcards_clear_for_multishipping" instance="MageWorx\GiftCards\Observer\ClearCardsForMultishippingObserver" />
    </event>
    <event name="layout_render_before_checkout_cart_index">
        <observer name="mageworx_giftcards_add_giftcards_block_on_cart_page" instance="MageWorx\GiftCards\Observer\AddGiftcardsBlockOnCartPageObserver" />
    </event>
    <!-- For magento versions up to 2.2.0. Magento bug: https://github.com/magento/magento2/pull/3907 -->
    <event name="controller_action_postdispatch_checkout_cart_index">
        <observer name="mageworx_giftcards_add_giftcards_block_on_cart_page" instance="MageWorx\GiftCards\Observer\AddGiftcardsBlockOnCartPageObserver" />
    </event>
</config>